.talk-detail-container{
    width: 100%;
}

.talk-detail-comment{
    background-color: aliceblue;
    max-width: 300px;
}

.comment-container {
    display: flex;
    align-items: flex-start;
  }
  
  .talk-detail-comment {
    position: relative;
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 10px 20px;
    max-width: 70%;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.4;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    background-color: #999;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .talk-detail-comment::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%) rotate(-45deg); /* 斜めに調整 */
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%); /* 三角形を作る */
  }
  
  
  
  
  
  