.talk-detail-container{
    width: 100%;
}


.talk-detail-box{
    display: flex;
}

.talk-detail-message{
    margin-left: 10px;
}

.talk-detail-name,.talk-mine-status{
    color: #7b8091;
}

.talk-detail-comment{
    background-color: #e8eaf0;
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
}

.talk-mine{
    float: right;
    margin-right: 20px;
}

.talk-mine-status{
    margin-right: 10px;
    font-size: 15px;
}
  
  
  
  
  
  