.talk-box{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-top: 10px;
}

.talk-odd{
    background-color: aliceblue;
}

.talk-left-box{
    display: flex;
}

.talk-image{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.talk-message{
    margin-left: 10px;
}

.talk-name{

}

.talk-time{
    margin-right: 10px;
}