.modal-main{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-box{
    background-color: white;
    height: 100%;
    width: 350px;
    float: right;
}